@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personuppgifter";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ditt konto innehåller personuppgifter som du har gett oss. Den här sidan låter dig ladda ner eller radera dessa uppgifter.</p>
        <p>
            <strong>Att radera dessa uppgifter kommer permanent att ta bort ditt konto, och det går inte att återställa.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary my-gradient-btn form-control" type="submit">Ladda ner</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger form-control mt-2">Radera</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
