@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Återställ autentiseringsnyckel";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Om du återställer din autentiseringsnyckel kommer din autentiseringsapp inte att fungera förrän du konfigurerar om den.</strong>
    </p>
    <p>
        Denna process inaktiverar 2FA tills du verifierar din autentiseringsapp.
        Om du inte slutför konfigurationen av din autentiseringsapp kan du förlora åtkomst till ditt konto.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Återställ autentiseringsnyckel</button>
    </form>
</div>
