<div class="container">
<div class="row pt-4 pb-3">
    <div class="col-6">
<h2 class="">
    Orderlista
</h2>


<table id="tblData" class="table table-bordered table-striped table-scroll">
    <thead>
    <tr>
        <th>ID</th>
        <th>Namn</th>
        <th>Telefonnummer</th>
        <th>E-post</th>
        <th>Status</th>
        <th>Totalt</th>
        <th>Åtgärder</th>

    </tr>
  </thead>

</table>
</div>
@section Scripts {
    <script src="~/js/order.js"></script>
}