<div class="container">
<div class="row pt-4 pb-3">
    <div class="col-6">
<h2 class="">
    Användare
</h2>
    </div>
   
</div>

<table id="tblData" class="table table-bordered table-striped table-scroll">
    <thead>
    <tr>
        <th>Namn</th>
        <th>E-post</th>
        <th>Telefonnummer</th>
        <th>Företag</th>
        <th>Roll</th>
        <th>Åtgärder</th>

    </tr>
  </thead>

</table>
</div>
@section Scripts {
    <script src="~/js/user.js"></script>
}