@page
@model ForgotPasswordConfirmation
@{
ViewData["Title"] = "Bekräftelse av glömt lösenord";
}
<h1>@ViewData["Title"]</h1>
<p>
    Vänligen kontrollera din e-post för att återställa ditt lösenord.
</p>