@page
@model RegisterConfirmationModel
@{
ViewData["Title"] = "Registreringsbekräftelse";
}
<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Denna app har för närvarande inte en riktig e-postavsändare registrerad, se <a href="https://aka.ms/aspaccountconf">dessa dokument</a> för hur du konfigurerar en riktig e-postavsändare.
    Normalt skulle detta skickas via e-post: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klicka här för att bekräfta ditt konto</a>
</p>
    }
    else
    {
<p>
        Vänligen kontrollera din e-post för att bekräfta ditt konto.
</p>
    }
}