@model Product

<form method="post">
    <input asp-for="Id" hidden />

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Ändra kategori</h2>
           
            <hr>
        </div>
        <div asp-validation-summary="ModelOnly"></div>
  <div class="mb-3 row p-1">
             <label asp-for="Title" class="p-0">Titel:</label>
            <input asp-for="Title" class="form-control">
            <span class="text-danger" asp-validation-for="Title"></span>
        </div>
              <div class="mb-3 row p-1">
             <label asp-for="Description" class="p-0">Beskrivning:</label>
            <textarea asp-for="Description" class="form-control"> </textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        

              <div class="mb-3 row p-1">
             <label asp-for="Brand" class="p-0">Märke:</label>
            <input asp-for="Brand" class="form-control">
            <span class="text-danger" asp-validation-for="Brand"></span>
        </div>

          <div class="mb-3 row p-1">
             <label asp-for="Price" class="p-0">Pris:</label>
            <input asp-for="Price" class="form-control">
            <span class="text-danger" asp-validation-for="Price"></span>
        </div>

          <div class="mb-3 row p-1">
             <label asp-for="ListPrice" class="p-0">Pris för 1-50:</label>
            <input asp-for="ListPrice" class="form-control">
            <span class="text-danger" asp-validation-for="ListPrice"></span>
        </div>

          <div class="mb-3 row p-1">
             <label asp-for="Price50" class="p-0">Pris för 50-100:</label>
            <input asp-for="Price50" class="form-control">
            <span class="text-danger" asp-validation-for="Price50"></span>
        </div>

          <div class="mb-3 row p-1">
             <label asp-for="Price100" class="p-0">Pris för 100+:</label>
            <input asp-for="Price100" class="form-control">
            <span class="text-danger" asp-validation-for="Price100"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                      <button type="submit" class="btn btn-primary form-control" >Uppdatera</button>
            </div>
            <div class="col-6 col-md-3">
                  <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary border form-control" >Tillbaka</a>
            </div>

        </div>
  
      
    </div>
</form>

<!--Gör så att man kan validera utan att re-rendera sidan med hjälp av JS-->
@section Scripts {
    @{
    <partial name="_ValidationScriptsPartial"/>

    }
}