@model List<Product>


<div class="container">
<div class="row pt-4 pb-3">
    <div class="col-6">
<h2 class="">
    Produkter
</h2>
    </div>
      <div class="col-6 text-end">
        <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary my-gradient-btn"><i class="bi bi-plus-circle"></i> Lägg till produkt</a>
    </div>
</div>

<table id="tblData" class="table table-bordered table-striped table-scroll">
    <thead>
    <tr>
        <th>Titel</th>
        <th>Märke</th>
        <th>Pris (kr)</th>
        <th>Kategori</th>
        <th>Åtgärder</th>

    </tr>
  </thead>

</table>
</div>
@section Scripts {
    <script src="~/js/product.js"></script>
}