@model ProductVM

<form method="post" enctype="multipart/form-data">
<input asp-for="Product.Id" hidden>



<div class="row">
  <div class="" >


<div class="border p-3 mt-4">

        <div class="row pb-2">
            <h2 class="text-primary">@(Model.Product.Id!=0?"Redigera":"Lägg till") produkt</h2>
           
            <hr>
        </div>
       <div class="my-5 w-100">
    @if(Model.Product.ProductImages != null) {
        <div class="d-flex flex-row flex-wrap justify-content-between">
            @foreach(var image in Model.Product.ProductImages) {
                <div class="p-1 w-25 d-flex flex-column">
                    <img src="@image.ImageUrl" width="100%" style="border-radius:5px; border:1px solid gray;">
                    <a asp-action="RemoveImage" class="btn btn-danger mt-1" style="border-radius:5px;" asp-route-imageId="@image.Id"> <i class="bi bi-trash-fill fs-6"></i> Ta bort</a>
                </div>
            }
        </div>
    }
</div>

        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3 row p-1">
             <label asp-for="Product.Title" class="p-0">Titel:</label>
            <input asp-for="Product.Title" class="form-control">
            <span class="text-danger" asp-validation-for="Product.Title"></span>
        </div>
              <div class="mb-3 row p-1">
             <label asp-for="Product.Description" class="p-0">Beskrivning:</label>
          <textarea asp-for="Product.Description" class="form-control"> </textarea>
           
        </div>
        

              <div class="mb-3 row p-1">
             <label asp-for="Product.Author" class="p-0">Författare:</label>
            <input asp-for="Product.Author" class="form-control">
            <span class="text-danger" asp-validation-for="Product.Author"></span>
        </div>

          <div class="mb-3 row p-1">
             <label asp-for="Product.Price" class="p-0">Pris:</label>
            <input asp-for="Product.Price" class="form-control">
            <span class="text-danger" asp-validation-for="Product.Price"></span>
        </div>

          <div class="mb-3 row p-1">
             <label asp-for="Product.ListPrice" class="p-0">Pris för 1-5:</label>
            <input asp-for="Product.ListPrice" class="form-control">
            <span class="text-danger" asp-validation-for="Product.ListPrice"></span>
        </div>

          <div class="mb-3 row p-1">
             <label asp-for="Product.Price50" class="p-0">Pris för 6-10:</label>
            <input asp-for="Product.Price50" class="form-control">
            <span class="text-danger" asp-validation-for="Product.Price50"></span>
        </div>

          <div class="mb-3 row p-1">
             <label asp-for="Product.Price100" class="p-0">Pris för 10+:</label>
            <input asp-for="Product.Price100" class="form-control">
            <span class="text-danger" asp-validation-for="Product.Price100"></span>
        </div>

           <div class="mb-3 row p-1">
             <label asp-for="Product.CategoryId" class="p-0">Kategori:</label>
            <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-control"> 
                <option disabled selected>--Välj Kategori--</option>
            </select>
            <span class="text-danger" asp-validation-for="Product.CategoryId"></span>
        </div>

               <div class="mb-3 row p-1">
             <label asp-for="Product.ProductImages" class="p-0">Välj bild:</label>
            <input type="file" name="files" class="form-control" multiple>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                @if(Model.Product.Id != 0) {
<button type="submit" class="btn btn-primary my-gradient-btn form-control" >Uppdatera</button>
                } else {
<button type="submit" class="btn btn-primary my-gradient-btn form-control" >Skapa</button>
                }
                      
            </div>
            <div class="col-6 col-md-3">
                  <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary border form-control" >Tillbaka</a>
            </div>

        </div>
  
      
    
    </div>
  </div>
  
   

    
    </div>
</form>


<!--Gör så att man kan validera utan att re-rendera sidan med hjälp av JS-->
@section Scripts {
    <script>
  tinymce.init({
    selector: 'textarea',
    plugins: 'anchor autolink charmap codesample emoticons lists searchreplace table visualblocks wordcount casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage advtemplate ai mentions tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | table mergetags | spellcheckdialog a11ycheck typography | align lineheight | numlist bullist indent outdent | emoticons charmap',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
      { value: 'First.Name', title: 'First Name' },
      { value: 'Email', title: 'Email' },
    ],
    ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
  });
</script>
    @{
    <partial name="_ValidationScriptsPartial"/>

    }
}