html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.table-scroll {

  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.small-image-wrapper {
  max-width: 100px; 
}


@media screen and (max-width: 600px) {
  .table-scroll {
    display: block;
  
  }
}

.my-gradient-btn {
  transition: all 0.2s ease;
border: 1px solid black;

}
.my-gradient-btn:hover {
  background-color: #ffffff; 
border: 1px solid black;
  color: rgb(73, 72, 72);
}

.divider-text:before, .divider-text:after {
  color: white;
  content: "";
  flex: 1;
  border-bottom: 1px solid #555;
  margin: auto 0.25rem;
  box-shadow: 0 -2px;
}

#carouselExampleIndicators .carousel-inner {
  height: 500px; 

}

#carouselExampleIndicators .carousel-item img {
  height: 100%;
  display: grid;
  place-content: center;
}

#carouselExampleIndicators .carousel-item, .active {
  height: 100%;
  object-fit: cover;
  padding: 10px;
}