@model int

<div class="row container pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Din beställning är mottagen.</h1>
        Beställnings-ID: @Model <br><br>
        
    </div>
</div>